/privVars.py
.venv/*
__pycache__/*
pyutils/__pycache__/*
.idea/*
log.log
/out.log
/testing.py
/assets/favicon.png
/assets/minecraft.png
/assets/graphs/*
/pipeline.ason
scanner.ipynb
/node_modules/
/package-lock.json
sync.py
/botHandler.log